@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-12 col-lg-6">
        <form method="POST" class="clearfix">
            <div class="form-row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="@Model.Name"></label>
                        <input asp-for="@Model.Name" class="form-control" />
                        <span asp-validation-for="@Model.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Prefix"></label>
                        <input asp-for="@Model.Prefix" class="form-control" />
                        <span asp-validation-for="@Model.Prefix" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="@Model.TabLength"></label>
                        <input asp-for="@Model.TabLength" min="1" max="8" class="form-control" />
                        <span asp-validation-for="@Model.TabLength" class="text-danger"></span>
                    </div>
                    <div class="form-check text-right">
                        <input asp-for="@Model.ConvertToTabs" class="form-check-input">
                        <label asp-for="@Model.ConvertToTabs" class="form-check-label"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Body"></label>
                <textarea asp-for="@Model.Body" rows="10" class="form-control"></textarea>
                <span asp-validation-for="@Model.Body" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <div class="form-group">
                    <label asp-for="@Model.Description"></label>
                    <textarea asp-for="@Model.Description" rows="2" class="form-control"></textarea>
                    <span asp-validation-for="@Model.Description" class="text-danger"></span>
                </div>
                    <div class="form-check text-right">
                    <input asp-for="@Model.HasDescription" class="form-check-input">
                    <label asp-for="@Model.HasDescription" class="form-check-label"></label>
                </div>
            </div>
            <button type="reset" class="btn btn-danger">Reset</button>
            <a href="/" class="btn btn-success">New Snippet</a>
            <button type="submit" class="btn btn-primary float-right">Generate</button>
        </form>
    </div>
    <div class="col-12 col-lg-6">
        <label asp-for="@Model.Snippet"></label>
        <textarea asp-for="@Model.Snippet" rows="20" class="form-control snippet-area"></textarea>
    </div>
</div>

@section Scripts {
    <script src="~/script/hasDescription.js"></script>
}